interface {{pascalCase name}}Props {
className?: string;
}

export function {{pascalCase name}}({ className }: {{pascalCase name}}Props) {
return (
<div className={className}>
    <h2>{{pascalCase name}}</h2>
    {/* TODO: Implement component */}
</div>
);
}